.view {

    width: 980px;
    margin: auto;

    &>h2 {
        padding-top: 179px;
        background-image: url('./image/banner.jpg');
        background-repeat: no-repeat;
        background-color: #8ab891;
        line-height: 50px;
        position: relative;
        padding-left: 150px;
        font-family: cursive;

        &>a {
            position: absolute;
            width: 100px;
            height: 100px;
            background-size: 100% auto;
            background-image: url('./image/hai2007.jpg');
            background-color: #ffffff;
            bottom: 23px;
            left: 25px;
            outline: 1px solid #8ab891;
        }

        &>input {
            height: 30px;
            border: none;
            outline: none;
            padding: 0 10px;
            padding-right: 35px;
            background-image: url(./image/search.svg);
            background-position: center right;
            background-repeat: no-repeat;
            border-radius: 3px;
            background-color: #f3f0f0;
            float: right;
            margin: 10px;

        }
    }

    &>div {
        &.containter {
            background-color: #dceffe;
            min-height: calc(100vh - 490px);
            position: relative;

            &>div {
                &.girl {
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    bottom: 0;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    pointer-events: none;

                    &.left {
                        background-image: url('./image/girl1.png');
                        left: 0;
                    }

                    &.right {
                        background-image: url('./image/girl2.png');
                        right: 0;
                    }
                }

                &.focus {
                    padding: 20px 0;
                    text-align: center;

                    &>div {
                        display: inline-block;
                        vertical-align: top;

                        &.title {
                            width: 1em;
                            box-sizing: content-box;
                            background-color: rgb(238 133 135);
                            padding: 10px;
                            color: white;
                            margin-top: 30px;
                        }

                        &.list {
                            width: 700px;
                            text-align: left;
                            background-color: #ffffff;
                            padding: 10px 10px 30px 10px;

                            &>span {
                                float: right;
                                color: rgb(0, 0, 0);
                                outline: 1px solid #ebc4a5;
                                font-size: 12px;
                                padding-left: 5px;

                                &:hover {
                                    outline: 1px solid #fb811d;
                                }

                                &>i {
                                    font-style: normal;

                                    &>a {
                                        padding: 5px;
                                        display: inline-block;
                                        background-color: #ebc4a5;
                                        margin: 5px;
                                        color: white;

                                        &:hover {
                                            text-decoration: underline;
                                            background-color: #fb811d;
                                        }
                                    }
                                }
                            }

                            &>h4 {
                                margin: 10px;
                                margin-top: 30px;

                                &>span {
                                    font-size: 12px;
                                    color: #fb811d;
                                    font-weight: 400;
                                    padding-left: 5px;
                                    display: inline-block;

                                    &>a {
                                        padding: 0 5px;
                                        text-decoration: underline;

                                        &:hover {
                                            font-weight: 800;
                                        }
                                    }
                                }
                            }

                            &>a {
                                text-align: center;
                                font-size: 12px;
                                display: inline-block;
                                width: 80px;
                                padding-top: 50px;
                                margin: 20px 0;
                                line-height: 30px;
                                height: 0;
                                vertical-align: top;
                                white-space: nowrap;
                                color: black;
                                background-size: 50px auto;
                                background-repeat: no-repeat;
                                background-position: center top;

                                &:hover {
                                    text-decoration: underline;
                                }

                                &.clunch {
                                    background-image: url('./image/clunch.png');
                                }

                                &.nefbl {
                                    background-image: url('./image/nefbl.png');
                                }

                                &.etcpack {
                                    background-image: url('./image/etcpack.png');
                                }

                                &.image2d {
                                    background-image: url('./image/image2d.png');
                                }

                                &.image3d {
                                    background-image: url('./image/image3d.png');
                                }

                                &.clunch {
                                    background-image: url('./image/clunch.png');
                                }

                                &.notepad {
                                    background-image: url('./image/notepad.png');
                                }

                                &.model-editor {
                                    background-image: url('./image/model-editor.png');
                                }

                                &.big-screen-dataview {
                                    background-image: url('./image/big-screen-dataview.png');
                                }

                                &.open-code-editor {
                                    background-image: url('./image/open-code-editor.png');
                                }

                                &.type-practice {
                                    background-image: url('./image/type-practice.png');
                                }

                                &.xhtml-engine {
                                    background-image: url('./image/xhtml-engine.png');
                                }

                                &.react-lazily-component {
                                    background-image: url('./image/react-lazily-component.png');
                                }

                                &.vue-input-check {
                                    background-image: url('./image/vue-input-check.png');
                                }

                                &.puly {
                                    background-image: url('./image/puly.png');
                                }

                                &.audio {
                                    background-image: url('./image/audiojs.png');
                                }

                                &.datapool {
                                    background-image: url('./image/datapool.png');
                                }

                                &.debug {
                                    background-image: url('./image/debug.png');
                                }

                                &.colors-picker {
                                    background-image: url('./image/colors-picker.png');
                                }

                                &.mock {
                                    background-image: url('./image/mock.png');
                                }

                                &.npm {
                                    background-image: url('./image/npm.png');
                                }

                                &.pip {
                                    background-image: url('./image/pip.svg');
                                }

                                &.maven {
                                    background-image: url('./image/maven.png');
                                }

                                &.talker {
                                    background-image: url('./image/talker.png');
                                }

                                &.lab-contrib {
                                    background-image: url('./image/lab-contrib.jpg');
                                }

                                &.cnpedia {
                                    background-image: url('./image/cnpedia.png');
                                }

                                &.agile-contrib {
                                    background-image: url('./image/agile-contrib.png');
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
