.view {
    text-align: center;
    min-width: 980px;

    &>h2 {
        line-height: 2em;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 500px;
        margin: auto;
        padding-top: 20px;
    }

    &>.item {
        padding: 20px;
        position: relative;
        width: 380px;
        display: inline-block;
        margin: 10px;
        text-align: left;

        &>span {
            position: absolute;
            right: -12px;
            top: 50px;
            width: 70px;
            font-size: 12px;
            text-align: center;
            color: rgb(0, 0, 0);
            padding: 5px 0;
            background-color: rgb(255, 255, 255);
        }

        &>fieldset {
            font-size: 12px;
            color: black;
            padding: 10px;

            &>div {
                line-height: 2em;

                &>a {
                    display: block;
                    color: black;

                    &::before {
                        content: "*  ";
                        color: #000000;
                    }

                    &:hover {
                        text-decoration: underline;
                    }

                    &>i {
                        font-style: normal;
                        outline: 1px solid gray;
                        padding: 0 5px;
                        margin: 0 5px;
                    }
                }
            }

            &>legend {
                padding: 7px;
                border-radius: 5px;
                text-indent: 0;
                color: white;

            }

            &.quick-read {

                border-color: rgb(244, 168, 3);

                &>legend {
                    background-color: rgb(246, 6, 34);
                }
            }

            &.chart {
                border-color: rgb(10, 171, 134);

                &>legend {
                    background-color: rgb(13, 92, 195);
                }
            }

            &.basic {
                border-color: rgb(8, 205, 64);

                &>legend {
                    background-color: rgb(237, 229, 3);
                }
            }

            &.plug {
                border-color: rgb(41, 211, 234);

                &>legend {
                    background-color: rgb(239, 19, 107);
                }
            }


            &.tool {
                border-color: rgb(203, 241, 32);

                &>legend {
                    background-color: rgb(189, 152, 5);
                }
            }

        }


    }
}