.view {
    padding: 20px;
    padding-bottom: 20px;
    width: 1000px;
    margin: auto;

    &>header {
        line-height: 50px;
        text-align: center;
        margin-bottom: 40px;
        background-color: #f2f0ef;
        font-size: 22px;
        font-family: cursive;
        outline: 1px dashed black;

        &>a {
            float: right;
            font-size: 12px;
            background-color: black;
            color: white;
            line-height: 1em;
            padding: 5px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &>h2 {
        border-left: 2px solid rgb(38, 212, 11);
        padding-left: 5px;
        font-size: 15px;
        font-weight: 200;
    }

    &>div {
        margin-bottom: 40px;

        &>a {

            position: relative;
            background-position: 10px center;
            background-size: 50px auto;
            background-repeat: no-repeat;
            padding-left: 70px;
            min-height: 70px;
            display: inline-block;
            width: 300px;
            outline: 1px solid rgb(245, 244, 244);
            margin-top: 10px;
            margin-right: 10px;
            cursor: pointer;
            color: black;

            &:hover {
                outline: 1px solid rgb(199, 196, 196);

                &>p {
                    text-decoration: underline;
                }
            }

            &>h4 {
                line-height: 40px;
                font-size: 14px;
            }

            &>p {
                font-size: 12px;
            }

            &>h4,
            p {
                pointer-events: none;
            }

            &.learning-manual {
                background-image: url('./image/learning-manual.png');
            }

            &.format-json {
                background-image: url('./image/format-json.png');
            }

            &.clunch {
                background-image: url('./image/clunch.png');
            }

            &.image2d {
                background-image: url('./image/image2d.png');
            }

            &.image3d {
                background-image: url('./image/image3d.png');
            }

            &.tool-js {
                background-image: url('./image/tool.png');
            }

            &.algorithm-js {
                background-image: url('./image/algorithm.png');
            }

            &.node-js {
                background-image: url('./image/nodejs.png');
            }

            &.browser-js {
                background-image: url('./image/browser.png');
            }

            &.colors-picker {
                background-image: url('./image/colors-picker.png');
            }

            &.image-editor {
                background-image: url('./image/picture.jpeg');
            }

            &.Regexper-Visualization {
                background-image: url('./image/Regexper-Visualization.png');
            }
        }
    }
}