header {
    text-align: center;
    user-select: none;
    min-width: 980px;

    h2 {
        line-height: 2em;
        font-family: cursive;
        font-size: 40px;

        a {
            position: fixed;
            right: 0;
            top: 0;
            font-size: 14px;
            background-color: #033d47;
            line-height: 1em;
            padding: 5px;
            color: white;
        }
    }

    ul {
        background-color: #000000;
        padding: 10px;

        li {
            display: inline-block;
            padding: 5px 10px;
            font-weight: 200;
            font-size: 14px;
            color: gray;
            cursor: pointer;
            margin: 0 10px;

            &[active='true'] {
                background-color: #adb7be;
                color: black;
            }

            &[active='false'] {
                &:hover {
                    outline: 1px dashed white;
                    color: white;
                }
            }
        }
    }
}

div {
    margin: 20px 0;
}
