.view {
    &>h2 {
        text-align: center;
        background-position: center center;
        margin: 10px 0;
        background-size: auto 100%;
        line-height: 70px;
        background-repeat: no-repeat;
        font-size: 14px;
        color: white;
        margin-top: 20px;

        &.library {
            background-image: url('./image/title-bg-2.png');
        }

        &.plug {
            background-image: url('./image/title-bg-1.png');
        }

    }

    .library-list {
        text-align: center;

        &>a {
            padding: 20px 0;
            padding-left: 100px;
            display: inline-block;
            background-size: 100px auto;
            background-position: left center;
            background-repeat: no-repeat;
            min-height: 100px;
            text-align: left;
            width: 400px;
            border-width: 5px 0px;
            border-style: solid;
            margin: 10px;

            &:hover {
                text-decoration: underline;
            }

            &>h4 {
                color: black;
                font-size: 15px;
                line-height: 2em;
            }

            &>p {
                color: gray;
                font-size: 12px;
                line-height: 1.6em;
                text-indent: 2em;
                padding-right: 10px;
            }

            &.image2d {
                background-image: url('./image/image2d.png');
                border-color: rgb(232, 164, 6);
            }
        }
    }

    .plug-list {
        text-align: center;

        &>a {
            display: inline-block;
            width: 300px;
            padding-top: 150px;
            background-repeat: no-repeat;
            background-position: center top;
            margin: 10px;
            line-height: 2em;
            font-size: 12px;
            cursor: pointer;
            color: rgb(0, 0, 0);
            border-width: 5px 0px;
            border-style: solid;

            &.editor {
                background-image: url('./image/editor.jpg');
                border-color: rgb(13, 181, 52);
            }

            &.excel {
                background-image: url('./image/excel.jpg');
                border-color: rgb(23, 187, 228);
            }

            &:hover {
                text-decoration: underline;
                font-weight: 800;
            }
        }
    }

}
