div {
    min-height: calc(100vh - 97px);
}

footer {
    height: 97px;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #d3d0d0;
    line-height: 2em;
    padding: 20px 0;
    font-size: 14px;
    min-width: 980px;

    a {
        padding: 0 5px;
        color: rgb(5, 100, 117);
        text-decoration: underline;

        &:hover {
            color: rgb(3, 61, 71);
            font-weight: 800;
        }
    }
}
